In [1]:
import numpy as np
import pandas as pd

data = np.random.randint(100, size = (4,4))
df = pd.DataFrame(data, columns = ['a','b','c','d'])
data

array([[42, 46, 51, 78],
       [76, 55, 41, 74],
       [95, 74, 96, 44],
       [30, 17, 78, 61]])

In [2]:
print(df.apply(max))   # 默认作用在DataFrame的列上
print(df.apply(max, axis = 1))    # 作用在行上

a    95
b    74
c    96
d    78
dtype: int64
0    78
1    76
2    96
3    78
dtype: int64

In [3]:
print(df.apply(np.mean))
print(df.apply(np.mean, axis = 1))

a    60.75
b    48.00
c    66.50
d    64.25
dtype: float64
0    54.25
1    61.50
2    77.25
3    46.50
dtype: float64

In [4]:
df = df.applymap(np.float32)    # applymap作用在df的每一个元素上

In [5]:
df

      a     b     c     d
0  42.0  46.0  51.0  78.0
1  76.0  55.0  41.0  74.0
2  95.0  74.0  96.0  44.0
3  30.0  17.0  78.0  61.0

In [6]:
df[['a','c']] = df[['a','c']].applymap(lambda x: '%.2f'%x)   # 将列a和c元素转换成2位浮点数
df[['b','d']] = df[['b','d']].applymap(int)    # 将列b和d元素转换成int，不能用apply因为int(元素)正确但int(df['a'])错误
print(df)

       a   b      c   d
0  42.00  46  51.00  78
1  76.00  55  41.00  74
2  95.00  74  96.00  44
3  30.00  17  78.00  61

In [7]:
df.b.map(lambda x: '天太冷有人穿了{}条秋裤'.format(x))    # map是Series的方法，作用在Series的每一个元素上

0    天太冷有人穿了46条秋裤
1    天太冷有人穿了55条秋裤
2    天太冷有人穿了74条秋裤
3    天太冷有人穿了17条秋裤
Name: b, dtype: object