In [1]:
import pandas as pd
import numpy as np
dt = pd.read_csv('car.data.csv')

In [33]:
dt.head

<bound method NDFrame.head of      buying  paint  doors persons lug_boot safety class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
5     vhigh  vhigh      2       2      med   high  unacc
6     vhigh  vhigh      2       2      big    low  unacc
7     vhigh  vhigh      2       2      big    med  unacc
8     vhigh  vhigh      2       2      big   high  unacc
9     vhigh  vhigh      2       4    small    low  unacc
10    vhigh  vhigh      2       4    small    med  unacc
11    vhigh  vhigh      2       4    small   high  unacc
12    vhigh  vhigh      2       4      med    low  unacc
13    vhigh  vhigh      2       4      med    med  unacc
14    vhigh  vhigh      2       4      med   high  unacc
15    vhigh  vhigh      2       4      big    low  unacc
16    vhigh  vhigh      2       4      big    med  unacc
17    vhigh  vhigh      2       4      big   high  unacc
18    vhigh  vhigh      2    more    small    low  unacc
19    vhigh  vhigh      2    more    small    med  unacc
20    vhigh  vhigh      2    more    small   high  unacc
21    vhigh  vhigh      2    more      med    low  unacc
22    vhigh  vhigh      2    more      med    med  unacc
23    vhigh  vhigh      2    more      med   high  unacc
24    vhigh  vhigh      2    more      big    low  unacc
25    vhigh  vhigh      2    more      big    med  unacc
26    vhigh  vhigh      2    more      big   high  unacc
27    vhigh  vhigh      3       2    small    low  unacc
28    vhigh  vhigh      3       2    small    med  unacc
29    vhigh  vhigh      3       2    small   high  unacc
...     ...    ...    ...     ...      ...    ...    ...
1698    low    low      4    more      big    low  unacc
1699    low    low      4    more      big    med   good
1700    low    low      4    more      big   high  vgood
1701    low    low  5more       2    small    low  unacc
1702    low    low  5more       2    small    med  unacc
1703    low    low  5more       2    small   high  unacc
1704    low    low  5more       2      med    low  unacc
1705    low    low  5more       2      med    med  unacc
1706    low    low  5more       2      med   high  unacc
1707    low    low  5more       2      big    low  unacc
1708    low    low  5more       2      big    med  unacc
1709    low    low  5more       2      big   high  unacc
1710    low    low  5more       4    small    low  unacc
1711    low    low  5more       4    small    med    acc
1712    low    low  5more       4    small   high   good
1713    low    low  5more       4      med    low  unacc
1714    low    low  5more       4      med    med   good
1715    low    low  5more       4      med   high  vgood
1716    low    low  5more       4      big    low  unacc
1717    low    low  5more       4      big    med   good
1718    low    low  5more       4      big   high  vgood
1719    low    low  5more    more    small    low  unacc
1720    low    low  5more    more    small    med    acc
1721    low    low  5more    more    small   high   good
1722    low    low  5more    more      med    low  unacc
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]>

In [34]:
ds = dt[dt['class ']=='unacc']

In [48]:
ds.shape[0]

1210

In [35]:
a,b,c,d = ds.groupby('buying')

In [59]:
a,b,c,d = ds.groupby('buying')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0],d[0],d[1].shape[0])

high 324 low 258 med 268 vhigh 360

In [60]:
d[1].shape[0]/dt[dt['buying']=='vhigh'].shape[0]

0.8333333333333334

In [61]:
a[1].shape[0]/dt[dt['buying']=='high'].shape[0]

0.75

In [62]:
a,b,c,d = ds.groupby('paint')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0],d[0],d[1].shape[0])

high 314 low 268 med 268 vhigh 360

In [63]:
a[1].shape[0]/dt[dt['paint']=='high'].shape[0]

0.7268518518518519

In [64]:
d[1].shape[0]/dt[dt['paint']=='vhigh'].shape[0]

0.8333333333333334

In [65]:
a,b,c,d = ds.groupby('doors')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0],d[0],d[1].shape[0])

2 326 3 300 4 292 5more 292

In [66]:
a,b,c = ds.groupby('persons')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0])

2 576 4 312 more 322

In [67]:
a[1].shape[0]/dt[dt['persons']=='more'].shape[0]

1.0

In [68]:
a,b,c = ds.groupby('lug_boot')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0])

big 368 med 392 small 450

In [69]:
c[1].shape[0]/dt[dt['lug_boot']=='small'].shape[0]

0.78125

In [57]:
a,b,c = ds.groupby('safety')
print(a[0],a[1].shape[0],b[0],b[1].shape[0],c[0],c[1].shape[0])

high 277 low 576 med 357

In [108]:
dt = dt.replace('unacc',1)
dt = dt.replace('acc',2)
dt = dt.replace('good',3)
dt = dt.replace('vgood',4)
dt = dt.replace('low',1)
dt = dt.replace('med',2)
dt = dt.replace('high',3)
dt = dt.replace('vhigh',4)
dt = dt.replace('5more',5)
dt = dt.replace('more',5)
dt = dt.replace('big',3)
dt = dt.replace('small',1)
dt = dt.replace('2',2)
dt = dt.replace('3',3)
dt = dt.replace('4',4)

In [109]:
dt.apply(pd.value_counts)

   buying  paint  doors  persons  lug_boot  safety  class
1   432.0  432.0    NaN      NaN     576.0   576.0  1210.0
2   432.0  432.0  432.0    576.0     576.0   576.0   384.0
3   432.0  432.0  432.0      NaN     576.0   576.0    69.0
4   432.0  432.0  432.0    576.0       NaN     NaN    65.0
5     NaN    NaN  432.0    576.0       NaN     NaN     NaN

In [101]:
for i in range(1,5):
    print('class',i)
    for j in range(1,5):
        print(dt[(dt['class ']==i)&(dt['buying']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.21322314049586777
0.22148760330578512
0.26776859504132233
0.2975206611570248
class 2
0.23177083333333334
0.2994791666666667
0.28125
0.1875
class 3
0.6666666666666666
0.3333333333333333
0.0
0.0
class 4
0.6
0.4
0.0
0.0

### get class 3: 1 , class 4: 1

In [103]:
for i in range(1,5):
    print('class',i)
    for j in range(1,5):
        print(dt[(dt['class ']==i)&(dt['paint']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.22148760330578512
0.22148760330578512
0.25950413223140495
0.2975206611570248
class 2
0.23958333333333334
0.2994791666666667
0.2734375
0.1875
class 3
0.6666666666666666
0.3333333333333333
0.0
0.0
class 4
0.4
0.4
0.2
0.0

### get class 3: 1

In [110]:
for i in range(1,5):
    print('class',i)
    for j in range(2,6):
        print(dt[(dt['class ']==i)&(dt['doors']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.2694214876033058
0.24793388429752067
0.2413223140495868
0.2413223140495868
class 2
0.2109375
0.2578125
0.265625
0.265625
class 3
0.21739130434782608
0.2608695652173913
0.2608695652173913
0.2608695652173913
class 4
0.15384615384615385
0.23076923076923078
0.3076923076923077
0.3076923076923077

In [111]:
for i in range(1,5):
    print('class',i)
    for j in {2,4,5}:
        print(dt[(dt['class ']==i)&(dt['persons']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.47603305785123967
0.2578512396694215
0.26611570247933886
class 2
0.0
0.515625
0.484375
class 3
0.0
0.5217391304347826
0.4782608695652174
class 4
0.0
0.46153846153846156
0.5384615384615384

In [113]:
for i in range(1,5):
    print('class',i)
    for j in range(1,4):
        print(dt[(dt['class ']==i)&(dt['lug_boot']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.371900826446281
0.3239669421487603
0.30413223140495865
class 2
0.2734375
0.3515625
0.375
class 3
0.30434782608695654
0.34782608695652173
0.34782608695652173
class 4
0.0
0.38461538461538464
0.6153846153846154

In [114]:
for i in range(1,5):
    print('class',i)
    for j in range(1,4):
        print(dt[(dt['class ']==i)&(dt['safety']==j)].shape[0]/dt[dt['class ']==i].shape[0])

class 1
0.47603305785123967
0.2950413223140496
0.22892561983471074
class 2
0.0
0.46875
0.53125
class 3
0.0
0.5652173913043478
0.43478260869565216
class 4
0.0
0.0
1.0

In [ ]:
### class 4: 3

for i in range(1,5):
    print('class',i)
    for j in range(1,5):
        print(dt[(dt['class ']==i)&(dt['buying']==j)].shape[0]/dt[dt['buying']==j].shape[0])

In [116]:
# for class 1
# persons=2
# safety=1
dt[(dt['persons']==2)&(dt['safety']==1)&(dt['class ']==1)].shape[0]/dt[(dt['persons']==2)&(dt['safety']==1)].shape[0]

1.0

In [121]:
# for class 2
# person=4
# safety=3
dt[(dt['persons']==4)&(dt['safety']==3)&(dt['class ']==2)].shape[0]/dt[(dt['persons']==4)&(dt['safety']==3)].shape[0]

0.5625

In [ ]:
# for class 3
# buying=1
# paint=1
# persons=4 /!=2
# safety=2 /!=1

In [126]:
dt[(dt['buying']==1)&(dt['paint']==1)&(dt['class ']==3)&(dt['persons']==4)&(dt['safety']==2)].shape[0]/dt[(dt['buying']==1)&(dt['safety']==2)&(dt['persons']==4)&(dt['paint']==1)].shape[0]

0.5

In [129]:
# for class 4
# buying=1
# paint != 4
# persons=5
# lug_boot=3
# safety=3
dt[(dt['buying']==1)&(dt['paint']!=4)&(dt['persons']==5)&(dt['lug_boot']==3)&(dt['safety']==3)&(dt['class ']==4)].shape[0]/dt[(dt['buying']==1)&(dt['paint']!=4)&(dt['persons']==5)&(dt['lug_boot']==3)&(dt['safety']==3)].shape[0]

1.0