In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,'a'])
s

0    1
1    2
2    a
dtype: object

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
s.index = ['a','b','c']
s

a    1
b    2
c    a
dtype: object

In [5]:
s['b']

2

In [6]:
s*2

a     2
b     4
c    aa
dtype: object

In [7]:
cSer = pd.Series([3, 5, 7], index = ['a', 'b', 'c'])
cSer[1:2]

b    5
dtype: int64

In [10]:
cSer['a':'c']

a    3
b    5
c    7
dtype: int64

In [13]:
cSer = pd.Series([3, 5, 7], index = [1,2,3])
cSer[1:3]

2    5
3    7
dtype: int64

In [14]:
### dataframe

In [15]:
data = {'name': ['Mayue', 'Lilin', 'Wuyun'], 'pay': [3000, 4500, 8000]}
aDF = pd.DataFrame(data)
aDF

    name   pay
0  Mayue  3000
1  Lilin  4500
2  Wuyun  8000

In [17]:
aDF.index = ['one','two','three']

In [18]:
aDF

        name   pay
one    Mayue  3000
two    Lilin  4500
three  Wuyun  8000