## 数据类型

In [1]:
15 << 2

60

#### 15的二进制111， 左移两位

In [2]:
~ 2

-3

#### 取反，负数不用源码，用补码表示

In [ ]:
补码：符号位不变，其余位取反后加一
若要变回，则再取反

In [3]:
0.1 + 0.1 == 0.2

True

In [4]:
0.1 + 0.1 +0.1 == 0.3

False

#### (0.1) 转换为二进制是无限循环小数

In [5]:
x = True
int(x)

1

In [6]:
3 + 5j

(3+5j)

### python 中函数

In [ ]:
built-in function 内建函数
variable 变量
expression 表达式
statement 语句

In [7]:
round(4.5)

4

In [8]:
round(5.5)

6

#### 四舍六入五成双

In [9]:
pow(2,3)

8

In [10]:
ord('a')

97

#### 显示ASC码

In [11]:
chr(65)

'A'

In [12]:
int('1111',2)

15

In [13]:
int('123',4)

27

#### 转换进制

### 标准库使用

In [14]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [15]:
math.pow(2,3)

8.0

In [16]:
pow(2,3)

8

In [17]:
math.pi

3.141592653589793

In [18]:
from math import floor

In [19]:
floor

In [20]:
floor(3.8)

3

In [ ]:
# 此时不需要用math.floor() , 直接floor()即可

In [ ]:
# 可将 import math 改为 from math import *

In [21]:
from math import *

### 序列

In [ ]:
aStr = 'Hello World'
aList = [2,3,4,5]
atuple = ('Sunday','Monday')
x = range(10)

#### 索引(index)
sequence[index]

#### 切片(slice)

In [25]:
x = '123456789'
x[:3]

'123'

In [26]:
x[3:6]

'456'

In [27]:
x[6:]

'789'

In [28]:
x[-3:]

'789'

In [30]:
#跳着切
x[1:8:2]

'2468'

In [31]:
#倒序
x[::-1]

'987654321'

In [33]:
'1' + '2'

'12'

In [34]:
'5' * 10

'5555555555'

In [35]:
len('5' * 10)

10

#### 成员判断

In [36]:
'5' in x

True

In [37]:
tuple([1,2,3])

(1, 2, 3)

In [39]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [40]:
a = [1,2,3]
sum(a)

6

In [41]:
x = [1,5,3,7,4]
sorted(x)

[1, 3, 4, 5, 7]

In [44]:
s = 'apple'
sorted(s)

['a', 'e', 'l', 'p', 'p']

In [45]:
x.sort()
# 改变了x
# 但s 没有sort 方法，因为不可变

In [46]:
x

[1, 3, 4, 5, 7]

In [47]:
reversed(x)

In [48]:
list(reversed(x))

[7, 5, 4, 3, 1]

#### enumerate 加标签

In [49]:
seasons = ['spring','summer','fall']
list(enumerate(seasons))

[(0, 'spring'), (1, 'summer'), (2, 'fall')]

In [50]:
list(enumerate(seasons , start = 1))

[(1, 'spring'), (2, 'summer'), (3, 'fall')]

#### zip函数，一一对应

In [52]:
price = ['10','20','30']
dict(zip(seasons,price))

{'spring': '10', 'summer': '20', 'fall': '30'}

In [53]:
list(zip('hello','world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]